* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body{
  background-color: #F1F1F1;
  width: 100%;
}
.upper-bg {
  background-color: #32AAAF;
  width: 100%;
  height: 200px;
}
.center-box {
  position: absolute;
    left: 0%;
    top: 15%;
    width: 100%;
    max-width: 450px;
  background-color: #fff;
  
  border-radius: 20px;
}
.inner-wrapper {
  padding: 25px;
}
.heading {
  padding-bottom: 25px;
}
.heading i {
  color: #47B6B9;
  font-size: 1.1em;
}
.row {
  padding: 10px 0;
}
.upper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border: none;
  box-shadow: 0 0 15px #bcb4b4b5;
  border-radius: 25px;
  font-size: 0.8em;
}
.upper-box p {
  padding-left:  15px;
}
.upper-box .icon-box {
  padding-right: 10px;
  padding-top: 5px;
  font-size: 1.2em;
  color: #236264;
}
.icon-box  {
  color: #F1F1F1;
  font-size: 1.2em;
  cursor: pointer;
}
.content-box {
  background-color: #32AAAF;
  margin-top: 15px;
  padding: 6px 0;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.hide-effect {
  opacity: 0;
}
.content-box .upper-heading {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #F1F1F1;
}
.content-box p {
  padding: 15px;
  color: #F1F1F1;

}

@media (min-width: 570px) {
  .center-box {
   left: 25%;
  top: 15%;
  max-width: 600px;
padding: 10px 15px;
  }
  .upper-bg {
    width: 100%;
  }
  .upper-box {
    font-size: 1em;
  }
}
